<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onboarding.recruit.mapper.ApplyMapper">

	<select id="getApply"
		parameterType="com.onboarding.recruit.domain.ApplyVO"
		resultType="com.onboarding.recruit.domain.ApplyVO">
		select A.bno, A.uid, A.applyDate
		from
		TBL_APPLY A
		where
		A.bno =
		#{bno} and A.uid = #{uid}
	</select>

	<insert id="insert"
		parameterType="com.onboarding.recruit.domain.ApplyVO">
		insert into TBL_APPLY(bno, uid, applyDate)
		values(#{bno}, #{uid}, NOW())
	</insert>

</mapper>